.jumbotron {
    background-image: url('/images/cafe-header.png');
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    color: rgb(20, 20, 19);
    margin-bottom: 20px;
}
footer {
    padding-top: 20px;
    background-color: rgba(214, 148, 86, 0.2);
}
.card-body > img {
    width: 100%;
    height: 100%;
}
.row-content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav {
    background-color: rgba(214, 148, 86, 0.2);
    margin-bottom: 15px;
}

.nav-link {
    color: black;
}
.cafename {
    background-color: rgba(212, 155, 100, 0.5);
    margin-left: 15px;
}

.card-body {
    padding: 0px;
}

/* for xs vertical stacking of cards*/
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.hrstyle {
    height: 10px;
    box-shadow: inset 0 9px 9px -3px rgba(214, 148, 86, 0.2);
    margin-top: 0px;
    margin-bottom: 0px;
}
boady {
    background-color: black;
    color: white;
}
